absl-py==1.3.0
aiohttp==3.8.3
aiohttp-cors==0.7.0
aiosignal==1.3.1
ansicon==1.89.0
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
bleach==5.0.1
blessed==1.19.1
cachetools==5.2.1
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
colorama==0.4.6
colorful==0.5.5
comm==0.1.2
contourpy==1.0.6
cvxopt==1.3.0
cycler==0.11.0
dask==2022.12.1
debugpy==1.6.5
decorator==5.1.1
deprecation==2.1.0
diffprivlib==0.2.0
dill==0.3.6
distlib==0.3.6
docutils==0.19
entrypoints==0.4
executing==1.2.0
filelock==3.9.0
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
google-api-core==2.11.0
google-auth==2.15.0
googleapis-common-protos==1.57.1
gpustat==1.0.0
graphviz==0.20.1
grpcio==1.51.1
idna==3.4
importlib-resources==5.10.2
intervaltree==3.1.0
ipykernel==6.19.4
ipython==8.8.0
ipywidgets==8.0.4
jedi==0.18.2
Jinja2==3.1.2
jinxed==1.2.0
joblib==1.2.0
jsonpickle==3.0.1
jsonschema==4.17.3
jupyter_client==7.4.8
jupyter_core==5.1.2
jupyterlab-widgets==3.0.5
kiwisolver==1.4.4
locket==1.0.0
lxml==4.9.2
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
modin==0.18.0
more-itertools==7.2.0
mpmath==1.2.1
msgpack==1.0.4
multidict==6.0.4
multiprocess==0.70.11.1
nest-asyncio==1.5.6
networkx==3.0
numpy==1.24.1
nvidia-ml-py==11.495.46
opencensus==0.11.0
opencensus-context==0.1.3
ortools==9.5.2237
packaging==23.0
pandas==1.5.2
parso==0.8.3
partd==1.3.0
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
platformdirs==2.6.2
pm4py==1.5.2.3
prometheus-client==0.13.1
prompt-toolkit==3.0.36
protobuf==4.21.12
psutil==5.9.4
PuLP==2.1
pure-eval==0.2.2
py-spy==0.3.14
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.10.4
pydotplus==2.0.2
Pygments==2.14.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2022.7
pyvis==0.3.1
pywin32==305
PyYAML==6.0
pyzmq==24.0.1
ray==2.2.0
requests==2.28.1
rsa==4.9
scikit-learn==1.2.0
scipy==1.10.0
six==1.16.0
smart-open==6.3.0
sortedcontainers==2.4.0
stack-data==0.6.2
statistics==1.0.3.5
statsmodels==0.12.1
StringDist==1.0.9
swifter==1.0.7
sympy==1.11.1
threadpoolctl==3.1.0
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.8.0
typing_extensions==4.4.0
urllib3==1.26.13
virtualenv==20.17.1
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==4.0.5
wincertstore==0.2
yarl==1.8.2
zipp==3.11.0
